<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light bg-light border-3 border-bottom border-primary">
    <div class="container-fluid">
      <a href="#" class="navbar-brand"> CIDENET</a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div id="MenuNavegacion" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-3">
          <li class="nav-item"><a href="#" class="nav-link">Introducción</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Catalogo</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>

        </ul>
      </div>
    </div>
  </nav>
</div>
